@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default --prefersdark,
          light,
          cupcake,
          bumblebee,
          emerald,
          corporate,
          synthwave,
          retro,
          cyberpunk,
          valentine,
          halloween,
          garden,
          forest,
          aqua,
          lofi,
          pastel,
          fantasy,
          wireframe,
          black,
          luxury,
          dracula,
          cmyk,
          autumn,
          business,
          acid,
          lemonade,
          night,
          coffee,
          winter,
          dim,
          nord,
          sunset;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}
